[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
TerminalOptions=bash
Exec=bash -c -i "/home/wego/limo_start_shortcut/bashes/lidar_navigation_diff.sh"
Icon=/home/wego/limo_start_shortcut/icons/navigation.png
Name=lidar_navigation_diff
Name[en]=2. lidar_navigation_diff.desktop
